/*
https://coolors.co/cb997e-ddbea9-ffe8d6-b7b7a4-a5a58d-6b705c
Beige: #e9f5db
Tea Green: #CFE1B9
Laurel Green: #B5C99A
Asparagus: #97a97c
Moss Green: #87986A
Fern Green: #718355
Antique brass: #CB997E
Desert Sand: DDBEA9
almost white: #F7FFF7

/* Import google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variable CSS
----------------------------------*/
:root {
  --header-height: 3rem;

  /* COLORS */
  --hue-color: 209;
  /* --primary-color: #a2d2ff;
  --secondary-color: #bde0fe;
  --third-color: #ffffff;
  --fourth-color: #60656f;
  --fifth-color: #131112; */
  --first-color: hsl((var(--hue-color)), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: white;

  /* FONT & TYPOGRAPHY */
  /* default root level font size is 16 px */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* MARGIN BOTTOMS  */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z INDEX  */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 100;
}

/* Setting font size for larger devices */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* Global style
----------------------------------*/
/* always have this in your base css*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Always add margin 0 and padding 0 to body in the base css */
body {
  /* color: #202020;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5; */
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100;
  height: auto;
}
img {
  width: 300px;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
}
h1 {
  font-size: 100px;
  line-height: 1.2;
}
h2 {
  font-size: 45px;
}
h1,
h2 {
  margin: 0;
  font-family: "Zen Loop", cursive;
  font-weight: 400; /*normal*/
}
.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0; /* allowed for the background to fill up screen */
}
h3 {
  margin: 0;
}
/*
These are sibling combinator selectors */
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
/* This is so that everything with the class divider and all the children sections will have a bottom border */
.divider > section {
  border-bottom: 1px dashed #f7fff7;
  padding: 25px 0; /* 25px on top and bottom and 0 on the left and right*/
}
/* This is so that the last element section will not have a border */
.divider > section:last-of-type {
  border-bottom: none;
}

/* REUSEABLE CSS CLASSES */
.section {
  padding: 2rem 0 4rem;
}

.section_title {
  font-size: var(--h1-font-size);
}

.section_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section_title,
.section_subtitle {
  text-align: center;
}

/* LAYOUT */
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* NAVIGATION BAR  */

.nav {
  max-height: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}
.nav__logo:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav__toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  .nav__menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(177, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

/* Profile
----------------------------------*/
header {
  background: #b5c99a;
  text-align: center;
  background-image: url(../images/Jungle-Vines-PNG-Picture.png);
  background-size: cover;
  background-position: fixed;
}

/* Project
----------------------------------*/
.projects {
  background: #87986a;
}
.projects .btn {
  background: #ddbea9;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block; /* inline elements dont align vertically when adding padding and margin to it, this allows it */
}
.projects .btn:hover {
  background: rgba(221, 190, 169, 75%);
}

.project-item {
  overflow: hidden;
}
.project-item h3 {
  margin-top: 0;
}
/* Work Experience
----------------------------------*/
.work-experience {
  background: #b5c99a;
  background-image: url(../images/Jungle-Vines-PNG-Picture.png);
  background-size: cover;
}
/* Education
----------------------------------*/
.education {
  background: #87986a;
}

/* Contact info
----------------------------------*/
footer {
  background: #b5c99a;
  background-image: url(../images/Jungle-Vines-PNG-Picture.png);
  background-size: cover;
  background-position: top right;
  text-align: center;
}
.contact-list {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}
.contact-list a {
  padding: 15px;
  display: inline-block;
}
/* Responsive 
----------------------------------*/
@media screen and (min-width: 750px) {
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  /*
    Grid container
    */
  .job-items {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
}

@media screen and (min-width: 950px) {
  .headshot-item {
    float: right;
    margin: 40px;
    border-left: 1px dashed #f7fff7; /* this is to add a line to the floated headshot photo, couldve done this differently by splitting the text on the left to a different container */
    padding: 25px 25px;
    width: 360px;
  }
}
